<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html>

<head>
	<meta charset="UTF-8">
	<title>人物編集</title>

	<style>
		body {
			text-align: center;
		}

		table {
			margin: 30px auto;
		}

		form {
			margin: 0 auto;
		}

		form>div {
			text-align: left;
		}
	</style>
</head>

<body>
	<h1>人物編集</h1>
	<form th:action="@{/persons/update}" th:object="${personForm}" th:method="post">
		
		<input type="hidden" th:field="*{familyTreeId}">
		<input type="hidden" th:field="*{personId}">
		
		
		<label for="lastName">姓:</label>
		<input type="text" th:field="*{lastName}" required><br>

		<label for="lastNameKana">姓(かな):</label>
		<input type="text" th:field="*{lastNameKana}" required><br>

		<label for="firstName">名:</label>
		<input type="text" th:field="*{firstName}" required><br>

		<label for="firstNameKana">名(かな):</label>
		<input type="text" th:field="*{firstNameKana}" required><br>

		<label for="birthDate">生年月日</label><br>
		<input type="date" th:field="*{birthDate}"><br>

		<div>
			<p>
				性別
				<input type="radio" th:field="*{gender}" th:value="*{gender.MALE}" />
				<label for="MALE">男性</label>

				<input type="radio" th:field="*{gender}" th:value="*{gender.FEMALE}" />
				<label for="FEMALE">女性</label>

				<input type="radio" th:field="*{gender}" th:value="*{gender.OTHER}" />
				<label for="OTHER">その他</label>
			</p>
		</div>
		<br>

		<label for="personImage">画像</label>
		<input type="file" th:field="*{personImage}"><br>

		<label for="description">説明文</label><br>
		<textarea th:field="*{description}" rows="3" cols="30"></textarea>
		<br>

		<label for="phoneNumber">電話番号</label>
		<input type="text" th:field="*{phoneNumber}"><br>


		<label for="address">住所</label>
		<input type="text" th:field="*{address}"><br>

		<input type="submit" value="人物を更新する">
	</form>

	<a href="/">メニュー一覧へ</a>

</body>

</html>