<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{layout ::base(~{::title}, ~{::body})}">

<head>
	<title>人物フォーム</title>
</head>

<body>
	<div class="content-section">


		<!-- Spring Securityからユーザー名を取得して表示-->
		<!-- <p sec:authentication="name"></p> -->

		<!-- タイトル：登録 or 編集 -->
		<h1 th:if="${personForm.isNew}">人物の新規追加</h1>
		<h1 th:unless="${personForm.isNew}">人物の編集</h1>

		<!-- アクション：登録 or 編集 -->
		<form class="table-form"
			th:action="${personForm.isNew} ? @{/family_trees/{id}/persons/create(id=${familyTreeId})} : @{/persons/update}"
			th:object="${personForm}" method="post">

			<!-- idは更新時に必要なため、hiddenで持つ------------------------------------------------------------------------------------------------->
			<input type="hidden" th:field="*{familyTreeId}">
			<input type="hidden" th:field="*{personId}">

			<!--新規登録時------------------------------------------------------------------------------------------------->
			<div th:if="${personForm.isNew}">

				<!-- 本人が存在しないとき(personForm.isSelf = false) 本人に対する関係に固定-------------------------------------------->
				<div th:unless="${personForm.isSelf}">
					<p style="color: blue">本人を登録してください</p>
					<p>
						<label for="relationshipPerson">基準となる人物:</label>
						<select name="person2Id" id="relationshipPerson">
							<option value="1" readonly>--本人--</option>
						</select>
					</p>
					<p>
						<label for="relationshipType">上記の人物から見た、今回登録する人物の関係:</label>
						<select name="relationshipTypeString" id="relationshipType">
							<option th:value="${relationshipTypeSelf}" th:text="本人"></option>
						</select>
					</p>
				</div>

				<!-- 本人が存在するとき(personForm.isSelf = false) 本人以外を選択 --------------------------------------------------------------->
				<div th:if="${personForm.isSelf}">
					<!--				<p>
					<label for="relationshipPerson">関係者:</label>
					<select name="person2Id" id="relationshipPerson">
						<option value="1">--関係する人物--</option>
						<option th:each="person : ${personList}" th:value="${person.personId}"
							th:text="${person.lastName} + '_' + ${person.firstName}"></option>
					</select>
				</p>-->
					<p>
						<label for="relationshipPerson">基準となる人物:</label>
						<select name="person2Id" id="relationshipPerson">
							<option value="1" readonly>--本人--</option>
						</select>
					</p>
					<p>
						<label for="relationshipType">上記の人物から見た、今回登録する人物の関係:</label>

						<select name="relationshipTypeString" id="relationshipTypeString">
							<!--  <option value="">　</option>  -->
							<option th:each="relationshipType : ${relationshipTypeList}" th:value="${relationshipType}"
								th:text="${relationshipType}"></option>
						</select>
					</p>
				</div>
				<!--------------------------------------------------------------------------------------------------->
			</div>


			<!--編集時------------------------------------------------------------------------------------------------->
			<div th:unless="${personForm.isNew}">
				<!-- 本人が存在するとき(personForm.isSelf = false) 本人以外を選択 -->
				<div th:if="${personForm.isSelf}">
					<p>
						<label for="relationshipPerson">基準となる人物:</label>
						<select name="person2Id" id="relationshipPerson">
							<option value="1" readonly>--本人--</option>
						</select>
					</p>

					<p>
						<label for="relationshipType">上記の人物から見た、今回登録する人物の関係:</label>

						<select name="relationshipTypeString" id="relationshipTypeString">
							<option value=""> </option>
							<option th:each="relationshipType : ${relationshipTypeList}" th:value="${relationshipType}"
								th:text="${relationshipType}"
								th:selected="${currentRelationshipType == relationshipType}">
							</option>
						</select>
					</p>
					<p th:each="rel : ${person1Relationship}">
						現在の関係：　<td th:text="${rel.relationshipType}"></td>
					</p>
				</div>
			</div>
			<!--------------------------------------------------------------------------------------------------->

			<label for="lastName">姓:</label>
			<input type="text" th:field="*{lastName}" required><br>

			<label for="lastNameKana">姓(かな):</label>
			<input type="text" th:field="*{lastNameKana}" required><br>

			<label for="firstName">名:</label>
			<input type="text" th:field="*{firstName}" required><br>

			<label for="firstNameKana">名(かな):</label>
			<input type="text" th:field="*{firstNameKana}" required><br>

			<label for="birthDate">生年月日</label><br>
			<input type="date" th:field="*{birthDate}"><br>

			<!--新規登録時に表示------------------------------------------------------------------------------------------------->
			<div th:if="${personForm.isNew}">
				<p>
					性別
					<input type="radio" id="male" name="gender" value="MALE" checked />
					<label for="MALE">男性</label>

					<input type="radio" id="female" name="gender" value="FEMALE" />
					<label for="FEMALE">女性</label>

					<input type="radio" id="other" name="gender" value="OTHER" />
					<label for="OTHER">その他</label>
				</p>
			</div>

			<!--編集更新時に表示------------------------------------------------------------------------------------------------->
			<div th:unless="${personForm.isNew}">
				<p>
					性別
					<input type="radio" th:field="*{gender}" th:value="*{gender.MALE}" />
					<label for="MALE">男性</label>

					<input type="radio" th:field="*{gender}" th:value="*{gender.FEMALE}" />
					<label for="FEMALE">女性</label>

					<input type="radio" th:field="*{gender}" th:value="*{gender.OTHER}" />
					<label for="OTHER">その他</label>
				</p>
			</div>
			<!--------------------------------------------------------------------------------------------------->
			<br>


			<label for="personImage">画像</label>
			<input type="file" th:field="*{personImage}"><br>

			<label for="description">説明文</label><br>
			<textarea th:field="*{description}" rows="3" cols="30"></textarea>
			<br>

			<label for="phoneNumber">電話番号</label>
			<input type="text" th:field="*{phoneNumber}"><br>


			<label for="address">住所</label>
			<input type="text" th:field="*{address}"><br>

			<!-- ボタン：登録 or 更新 -->
			<input th:if="${personForm.isNew}" type="submit" value="人物を追加する">
			<input th:unless="${personForm.isNew}" type="submit" value="人物を更新する">
		</form>
		<a th:href="@{/family_trees/{id}(id=${familyTreeId})}">家系図詳細へ戻る</a>

	</div>
</body>

</html>